<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeHelper SmartStrings</title>
    {% load static %}

    <script src="{% static 'codemirror-5.65.8/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirror-5.65.8/lib/codemirror.css' %}">
    <script src="{% static 'codemirror-5.65.8/mode/clike/clike.js' %}"></script>
    <script src="{% static 'codemirror-5.65.8/addon/selection/active-line.js' %}"></script>


    <link href="{% static 'bootstrap-5.2.0-dist/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-5.2.0-dist/js/bootstrap.bundle.js' %}"></script>
    <style>
        .CodeMirror {
            padding-left: 0;
            padding-right: 0;
            height: 100%;
        }
    </style>
</head>
<body onload="body_loaded();">
<div>
    {# COMPILE #}
    <form id="compile_form" action="/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="code" value=""/>
    </form>
    {# EVALUATE #}
    <form id="evaluate_form" action="/evaluate" method="POST">
        {% csrf_token %}
        <input type="hidden" name="code" value=""/>
    </form>
</div>
<section class="container-fluid bg-info min-vh-100 align-items-center d-flex px-0 flex-wrap">

    {# BUTTONS NAVBAR #}
    <div class="container-fluid align-items-center d-flex justify-content-around" style="height: 10vh">

        {# LANGUAGE SELECTOR #}
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Language: C++
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item active" href="#">C++</a></li>
                <li><a class="dropdown-item disabled" href="#">Java</a></li>
                <li><a class="dropdown-item disabled" href="#">Kotlin</a></li>
                <li><a class="dropdown-item disabled" href="#">Python</a></li>
            </ul>
        </div>

        {# COMPILE #}
        <button type="button" onclick="compile_form();" id="compile_button"
                class="{{ logic.get_compile_button_class }}">
            Compile
        </button>

        {# EVALUATE #}
        <button type="button" onclick="evaluate_form();" id="evaluate_button"
                class="{{ logic.get_evaluate_button_class }}">
            Evaluate
        </button>

    </div>

    {# CODE MIRROR #}
    <div class="container-fluid px-0" style="height: 90vh">
        <div class="h-100" id="text_area" style="margin-top: 0;"></div>
    </div>
</section>

{# SCRIPTS #}
<script>
    let myCodeMirror = CodeMirror(document.getElementById('text_area'), {
        value: `{{ code|default:logic.get_default_code|safe}}`,
        indentUnit: 4,
        lineNumbers: true,
        styleActiveLine: {nonEmpty: true},
        matchBrackets: true,
        mode: 'text/x-c++src',
        autoCloseBrackets: true,
        autofocus: true,
    });

    function compile_form() {
        let my_form = document.forms['compile_form'];
        my_form.elements["code"].value = myCodeMirror.getValue();
        document.getElementById("compile_form").submit();
    }

    function evaluate_form() {
        let my_form = document.forms['evaluate_form'];
        my_form.elements["code"].value = `{{ code|safe }}`;
        document.getElementById("evaluate_form").submit();
    }

    function body_loaded() {
        setTimeout(clear_compiled_button_status, 10000);
    }

    function clear_compiled_button_status() {
        document.getElementById("compile_button").classList.add('btn-light');
        document.getElementById("compile_button").classList.remove('btn-warning');
        document.getElementById("compile_button").classList.remove('btn-success');

    }

    function clear_evaluate_button_status() {
        document.getElementById("evaluate_button").classList.remove('btn-primary');
        document.getElementById("evaluate_button").classList.add('btn-danger');
        document.getElementById("evaluate_button").classList.add('disabled');
    }

    function clear_button_status() {
        clear_compiled_button_status();
        clear_evaluate_button_status();
    }

    myCodeMirror.on("change", code_changed);

    function code_changed() {
        clear_button_status();
        myCodeMirror.off("change", code_changed);
    }

    {# TODO remove this, it's just for debugging #}
    {#    {% if logic.compiled %}#}
    {#        console.log({{ logic.executable|safe }})#}
    {#    {% endif %}#}
</script>

{% if logic.compiled == False %}
    <div class="alert alert-warning alert-dismissible fade show position-absolute end-0 bottom-0" role="alert">
        {{ logic.message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
</body>
</html>